@import 'utilities'

p.large.text 
  font-size: 1.3em

p.medium.text 
  font-size: 1.15em

.mission.segment
  h1
    margin-bottom: 1em
  p 
    font-size: 1.3em

.values.segment
  padding: 4.5em 2em 5.5em

  h1
    margin-bottom: 1.2em

  .value.segment
    .image
      margin-top: 1em
      margin-bottom: 1.5em

.contact.segment
  padding: 3.5em 2em 5.5em

  h1.ui.header
    margin-bottom: 1.0em
