.publishing.fragment, .analytics.fragment, .engagement.fragment

  padding: 6em 0


  h2.ui.header
    font-size: 1.7em

  .lead
    font-size: 1.5em

  iframe
    overflow: hidden

.engagement.fragment
  background: lighten($black,95)

.analytics.fragment
  background: $white
