@import 'utilities'

// Critical Segment
.critical.segment
  padding: 4.5em 4em
  @include media("<desktop")
    padding: 4.5em 1em

  .header
    display: block

    img
      margin-bottom: 0.8em !important

  p
    font-size: 1.2em

// Functions Segment
.functions.segment
  background: url('../images/red_noise.png') !important
  padding: 4.5em 4em
  @include media("<desktop")
    padding: 4.5em 1em

  h1.ui.header
    margin-bottom: 2em
    

  .function.segment
    padding: 3em 1em
    margin: 0 1em 2em
    background: url('../images/noise_light.png') !important

    .header 

      img
        margin-bottom: 1.5em !important

// Solutions Segment
.solutions.segment
  padding: 8em 0

  @include media("<tablet")
    padding: 2.5em 0

  .grid
    @include media("<tablet")
      margin-left: 0
      margin-right: 0

  h1.ui.header
    @include media("<tablet")
      font-size: 1.5em
      margin-bottom: 1.0em

  p
    font-size: 1.3em
    line-height: 1.7em
    @include media("<tablet")
      font-size: 1.1em

  .row.separated
    padding-bottom: 5em

    &:last-child
      padding-bottom: 0

    @include media("<tablet")
      padding-bottom: 2em

  .column.left.text
    padding-left: 5em !important

    @include media(">large")
      padding-top: 3em

    @include media("<tablet")
      padding-left: 15px !important
      padding-right: 15px !important
      margin-bottom: 2em

  .column.right.text
    padding-right: 5em !important

    @include media(">large")
      padding-top: 3em

    @include media("<tablet")
      padding-left: 15px !important
      padding-right: 15px !important
      margin-bottom: 2em

  img.mobile.only
    display: none

    @include media("<tablet")
      display: block
      margin-bottom: 2em

  .right.image img
    margin-right: -40px
    @include media("<tablet")
      display: none

  .left.image img
    margin-left: -40px
    @include media("<tablet")
      display: none      

  .right.image img,
  .left.image img
    transition: 0.5s all

  .right.image img,
    &:hover
      transform: skewX(4deg)

  .left.image img
    &:hover
      transform: skewX(-5deg)

// Pricing Segment
.pricing.segment
  background: #eee
  padding: 6.5em 4em 6.5em
  @include media("<desktop")
    padding: 4.5em 1em

  .menu.fluid
    @include media("<desktop")
      margin-bottom: 1.5em

  h1.header
    margin-bottom: 0.7em
    @include media("<desktop")
      text-align: left

  .description
    font-size: 1.3em
    line-height: 1.5em

  span.plan, span.price, span.term
    display: block

  span.plan
    font-size: 1.1em
    font-weight: bold
    text-transform: uppercase
    margin-bottom: 0.6em

  span.price
    margin-bottom: 0.5em
    text-transform: uppercase

  span.term
    color: #666
    font-size: 0.7em
    text-transform: uppercase

  .stackable.set
    margin-left: 1em
    margin-top: 1em

  .feature
    font-size: 1.20em

    .icon.orange.inverted
      font-size: 0.8em
      margin-right: 0.5em
      background-color: #f2711ca6 !important

// CTA Segment
.post.segment
  padding: 3em 2em 4em

  h1.header.ui
    margin-bottom: 0.5em

  .ui.three.cards > .card
    margin-left: 1.5em
    margin-right: 1.5em
    width: calc(33.33333% - 3em)
    @include media("<desktop")
      width: 100%
      margin-left: 0
      margin-right: 0
      margin-bottom: 1.5em

  .ui .card
    @include media("<desktop")
      width: 100%

    .header
      font-size: 1.4em
      font-weight: bold
      font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif !important

    .header.sub.dividing
      font-size: 0.8em
      padding-bottom: 3px
      margin-bottom: 3px

    .description
      font-size: 1.1em

