$frame-style: 3px solid lighten($black, 90)
$frame-background: $black

.landing.page
  height: 100vh

.ui.vertical.tabular.menu 
  .icons
    margin-bottom: 5px

  .item
    background: rgba(255, 255, 255, .15)
    h4
      color: $white

    .text
      color: $white

    &:hover
      background: rgba(255, 255, 255, .25)
      h4
        color: $white

      .text
        color: $white

  .active.item
    border-right: inherit !important
    border-left: 1px solid transparent
    border-top: 1px solid transparent
    border-bottom: 1px solid transparent
    border-right: 0px solid transparent

    font-weight: normal

    h4 
      color: $black

    .text
      color: $black

    &:hover
      background: $white

      h4
        color: $black

      .text
        color: $black



.fragment.features
  padding: 6em 0

  .main.feature
    transition: 1s all

    h1.ui.header
      @include media("<tablet")
        text-align: left
        white-space: inherit

        &:before
          display: none

  .lead
    font-size: 1.5em
    margin-bottom: 2em

  .top.frame
    border-top: $frame-style
    border-left: $frame-style
    border-right: $frame-style
    border-bottom: 3px solid $white
    background: $frame-background
    transition: 1s all


    @include media("<tablet")
      border-left: none
      border-right: none
      border-bottom: none

    .feature.menu
      white-space: nowrap;
      overflow-x: auto
      overflow-y: hidden
      -webkit-overflow-x-scrolling: touch
      -ms-overflow-style: -ms-autohiding-scrollbar


      .item
        width: 33.33%
        justify-content: center
        @include media("<tablet")
          width: auto

        &.active
          background: $white
          color: $black !important

    .ui.feature.menu::-webkit-scrollbar
        display:none !important


  .bottom.frame
    border-left: $frame-style
    border-right: $frame-style
    border-bottom: $frame-style
    background: $frame-background
    padding-bottom: 3em
    transition: height 1s
    transition: 1.5s all

    @include media("<tablet")
      border-left: none
      border-right: none

  .vertical.menu
    min-height: 650px
    border-right: 2px solid $white

    @include media("<tablet")
      min-height: auto
      white-space: nowrap;
      overflow-x: auto
      overflow-y: hidden
      -webkit-overflow-x-scrolling: touch
      -ms-overflow-style: -ms-autohiding-scrollbar
      margin-top: -1.8em
      border-right: none

      &::-webkit-scrollbar
        display:none !important

      .item, .item.active
        width: 100%
        display: inline-block
        margin-bottom: 1em

      .header, .text
        white-space: initial

      .header
        height: 51px
        aling-self: flex-end
        display: table-cell;
        vertical-align: middle

      .text
        min-height: 72px


  .details
    @include media("<tablet")
      border-top: $frame-style
      padding-top: 2em !important

.fragment.feed
  padding: 4em 0
  background: lighten($black,20)

  .three.cards
    .card
      @include media("<tablet")
        width: calc(100% - 2em)
        margin-right: 1em
