.landing.page
  height: 100vh

.fragment.features
  padding: 6em 0

  iframe
    @include media("<tablet")
      height: 300px


  .main.feature
    transition: 1s all

    h1.ui.header
      @include media("<tablet")
        text-align: left
        white-space: inherit

        &:before
          display: none

  .lead
    font-size: 1.5em
    margin-bottom: 2em

