background
  color: #eee

.portfolio
  background: #222
  padding: 6em 0

.tech
  padding: 8em 0

  .midlead
    margin-bottom: 1em

.contact
  background: #222
  padding: 7em 0 3em 0
  color: white

.footer
  .light
    font-weight: 400

.copyright
  background: #111
  padding: 2.5em 0

  h4.header
    font-weight: 400
    color: white


.main.container
  margin: 4em 0

.ui.logo.header
  font-size: 3em

p.lead
  font-size: 1.8em

p.midlead
  font-size: 1.4em


.ui.tech.header
  font-size: 1.4em
  text-transform: uppercase

.bulleted.tech
  font-size: 1.2em

.footer
  padding: 4em

