@import 'utilities'

p.lead
  font-size: 1.25em
  max-width: 70%
  margin: 0 auto 2em

/// Masthead Segment ///
.masthead
  overflow: hidden
  min-height: 100vh
  margin-top: 1px

  @include media("<tablet")
    min-height: 65vh

  .menu
    margin-top: -5px


  .item.brand
    padding-bottom: 5px !important

  .logo
    max-height: 40px

  .video
    position: absolute
    top: 0
    left: 0
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto

  .overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 184, 255, 0.9098)


  .content-holder
    z-index: 99
    position: absolute
    top: 0
    width: 100%
    height: 100%
    display: flex
    align-items: center

  .text.container
    max-width: 800px !important

  h1.ui.header
    font-size: 3.0em
    margin-bottom: 0.5em
    text-transform: uppercase
    border-bottom: 2px solid #ffffff5c

    @include media("<tablet")
      font-size: 1.9em

  h2.ui.header
    font-size: 1.8em

    @include media("<tablet")
      font-size: 1.2em

    .vue-typer
      color: white

      .custom.char
        color: white

      .custom.caret
        background-color: white
        width: 3px
        margin-left: 3px


// Features Segment
.benefits.fragment
  padding-top: 7em
  padding-bottom: 7em


  .content.centered
    text-align: center

    .description
      text-align: justify

// Abilities Fragment
.abilities.fragment
  padding: 8em 0
  background: white

  p.lead
    margin: 0 auto 2em

  .row.separated
    padding-bottom: 5em

  .column.left.text
    padding-top: 3em
    padding-left: 5em !important

  .column.right.text
    padding-top: 3em
    padding-right: 5em !important

  .right.image img
    margin-right: -110px

  .left.image img
    margin-left: -110px


// Pricing Fragmnent //
.pricing.fragment
  padding: 4em 0
  border-top: 1px solid #ccc
  border-bottom: 1px solid #ccc

  #pricing_component
    padding-top: 2.5em

  .price.box
    margin-top: 4em
    margin-bottom: 2em

  .monthly_annual_toggle
    margin-top: -50px
    padding: 20px 1.5em
    border-radius: 5px
    background: #efefef


  .toggle
    display: flex
    justify-content: center

    label.monthly
      margin-right: 1em

    .extra.info
      margin-top: 3px
      font-weight: bold

  h1.header.price
    font-size: 3em
    margin-top: 1.0em
    margin-bottom: 1.0em


  .questions
    padding-top: 4em

    h2
      padding-bottom: 1em

  .items .item
    margin-bottom: 1em

// Modal
.v--modal-box.v--modal
  padding: 1.5em 1em

.v--modal-overlay
  background: rgba(0,0,0,0.9) !important

// Footer Segment

.footer.segment
  padding: 5em 0

